<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rafata Zahi Cherie - Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/style.css">
    
</head>
<body>
    <header class="header">
        <a href="#home" class="logo"><span>Rafata Zahi Cherie</span></a>

        <i class='bx bx-menu' id="menu-icon"></i>
            
        <nav class="navbar">
            <a href="#home" class="active">Home</a>
            <a href="#education">Education</a>
            <a href="#experience">Experience</a>
            <a href="#skills">Skills</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>

    <section class="home" id="home">
        <div class="home-content">
            <h1>Hi, I'm <span>Rafata</span></h1>
            <h3 class="text-animation">NPM <span></span></h3>
            <p>A student with a strong interest in digital transformation and business. Skilled in problem-solving, teamwork, and analytical thinking, 
                with a constantly evolving knowledge of data, systems, and business processes. With a growth-oriented mindset, I am always eager to learn, take on challenges, and develop my skills.</p>

            <div class="social-icons">
                <a href="https://www.linkedin.com/in/rafata-zahi-cherie-894103375"><i class='bx bxl-linkedin'></i></a>
                <a href="https://github.com/rafatacherie"><i class='bx bxl-github'></i></a>
                <a href="https://www.instagram.com/rftazc/"><i class='bx bxl-instagram-alt'></i></a>
            </div>

            <div class="btn-group">
                <a href="#" class="btn">Hire</a>
                <a href="#contact" class="btn">Contact</a>
            </div>
        </div>
            <div class="home-img">
                <img src="/static/img/rafata.png" alt="">
            </div>
    </section>

    <section class="education" id="education">
        <h2 class="heading">Education</h2>

        <div class="timeline-items">

            <div class="timeline-item">
                <div class="timeline-dot"></div>
                    <div class="timeline-date">2025 - Present</div>
                    <div class="timeline-content">
                        <h3>Universitas Indonesia</h3>
                        <p>Information System, Faculty of Computer Science</p>
                    </div>
                
            </div>

            <div class="timeline-item">
                <div class="timeline-dot"></div>
                    <div class="timeline-date">2022 - 2025</div>
                    <div class="timeline-content">
                        <h3>MAN 2 Kota Bogor</h3>
                        <p>Science</p>
                    </div>
                
            </div>
        </div>
    </section>

    <section class="experience" id="experience">
        <h2 class="heading">Experience</h2>

        <div class="experience-container">
            <div class="experience-box">
                <input type="checkbox" id="toggle-exp1" class="exp-checkbox">

                <div class="box-front">
                    <div class="experience-info">
                        <h4>Product Management Class by RISTEK</h4>
                        <h3>Participant</h3>
                        <label for="toggle-exp1" class="see-detail-btn">See Detail</label>
                    </div>
                </div>

                <div class="box-back">
                    <div class="scroll-content">
                        <p>- Completed a series of studies on product and project management.</p>
                        <p>- Analyzed product management case studies to identify problems, prioritize features, identify solutions, and plan product development.</p>
                        <p>- Created a project timeline with clear start and end dates, assigned responsibilities, and ensured team alignment for smooth execution.</p>
                    </div>
                    <label for="toggle-exp1" class="close-detail-btn">Back</label>
                </div>
            </div> 

            <div class="experience-box">
                <input type="checkbox" id="toggle-exp2" class="exp-checkbox">

                <div class="box-front">
                    <div class="experience-info">
                        <h4>Dream Campus 2026</h4>
                        <h3>Event Staff</h3>
                        <label for="toggle-exp2" class="see-detail-btn">See Detail</label>
                    </div>
                </div>

                <div class="box-back">
                    <div class="scroll-content">
                        <p>- Responsible for planning, coordinating, and executing a series of events, ensuring each program runs smoothly and achieves its objectives.</p>
                        <p>- Developed detailed event schedules and prepared comprehensive budgets for events, including allocation of resources and logistics to support successful execution.</p>
                        <p>- Monitored event progress, addressed issues in real-time, and ensured that all activities adhered to planned timelines, contributing to the overall success of the Dream Campus event.</p>
                    </div>
                    <label for="toggle-exp2" class="close-detail-btn">Back</label>
                </div>
            </div> 

            <div class="experience-box">
                <input type="checkbox" id="toggle-exp3" class="exp-checkbox">

                <div class="box-front">
                    <div class="experience-info">
                        <h4>Compfest 18</h4>
                        <h3>Direct Marketing Staff</h3>
                        <label for="toggle-exp3" class="see-detail-btn">See Detail</label>
                    </div>
                </div>

                <div class="box-back">
                    <div class="scroll-content">
                        <p>- Experienced as an MC for seminars.</p>
                        <p>- Developed and executed creative content strategies to attract audiences, boost engagement, and foster active interaction.</p>
                        <p>- Engaged directly with prospective participants, persuasively conveying information to generate interest and drive registrations.</p>
                        <p>- Collaborated with team members to develop compelling promotional ideas and expand audience reach through effective communication strategies.</p>
                    </div>
                    <label for="toggle-exp3" class="close-detail-btn">Back</label>
                </div>
            </div> 

        </div>
    </section>

    <section class="skills" id="skills">
        <h2 class="heading">Skills</h2>

        <div class="skills-row">
            <div class="skills-column">
                <h3 class="title">Technical Skills</h3>

                <div class="skills-box">
                    <div class="skills-content">

                        <div class="progress">
                            <div class="skills-info">
                                <p><i class='bx bxl-python'></i> Python</p>
                                <span>70%</span>
                            </div>
                            <div class="bar"><span class="tech-bar-1"></span></div>
                        </div>

                        <div class="progress">
                            <div class="skills-info">
                                <p><i class='bx bxl-java'></i> Java</p>
                                <span>60%</span>
                            </div>
                            <div class="bar"><span class="tech-bar-2"></span></div>
                        </div>

                        <div class="progress">
                            <div class="skills-info">
                                <p><i class='bx bx-edit'></i> Canva</p>
                                <span>90%</span>
                            </div>
                            <div class="bar"><span class="tech-bar-3"></span></div>
                        </div>

                        <div class="progress">
                            <div class="skills-info">
                                <p><i class='bx bx-video-recording'></i> Video Editing</p>
                                <span>75%</span>
                            </div>
                            <div class="bar"><span class="tech-bar-4"></span></div>
                        </div>

                        <div class="progress">
                            <div class="skills-info">
                                <p><i class='bx bx-laptop'></i> Microsoft Word</p>
                                <span>90%</span>
                            </div>
                            <div class="bar"><span class="tech-bar-5"></span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="skills-column">
                <h3 class="title">Soft Skills</h3>

                <div class="skills-box">
                    <div class="skills-content">

                        <div class="progress">
                            <div class="skills-info">
                                <p><i class='bx bx-group'></i> Public Speaking</p>
                                <span>80%</span>
                            </div>
                            <div class="bar"><span class="soft-bar-1"></span></div>
                        </div>

                        <div class="progress">
                            <div class="skills-info">
                                <p><i class='bx bx-conversation'></i> Communication</p>
                                <span>85%</span>
                            </div>
                            <div class="bar"><span class="soft-bar-2"></span></div>
                        </div>

                        <div class="progress">
                            <div class="skills-info">
                                <p><i class='bx bx-brain'></i> Problem Solving</p>
                                <span>80%</span>
                            </div>
                            <div class="bar"><span class="soft-bar-3"></span></div>
                        </div>

                        <div class="progress">
                            <div class="skills-info">
                                <p><i class='bx bx-time-five'></i> Time Management</p>
                                <span>95%</span>
                            </div>
                            <div class="bar"><span class="soft-bar-4"></span></div>
                        </div>

                        <div class="progress">
                            <div class="skills-info">
                                <p><i class='bx bx-briefcase'></i> Teamwork</p>
                                <span>90%</span>
                            </div>
                            <div class="bar"><span class="soft-bar-5"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="/static/js/script.js"></script>
</body>
</html>