{% extends 'base.html' %}
{% block meta %}
    <title>{{ name }} - Portfolio</title>
{% endblock meta %}
{% block content %}
    <section class="home" id="home">
        <div class="home-content">
            <h1>Hi, I'm <span>{{ short_name }}</span></h1>
            <h3 class="text-animation">NPM <span></span></h3>
            <p>{{ bio }}</p>

            <div class="social-icons">
                <a href="https://www.linkedin.com/in/rafata-zahi-cherie-894103375"><i class='bx bxl-linkedin'></i></a>
                <a href="https://github.com/rafatacherie"><i class='bx bxl-github'></i></a>
                <a href="https://www.instagram.com/rftazc/"><i class='bx bxl-instagram-alt'></i></a>
            </div>

            <div class="btn-group">
                <a href="{% url 'main:login' %}" class="btn">Login</a>
                <a href="{% url 'main:register' %}" class="btn">Register</a>
            </div>
            <p class="last-login">Last login session: {{ last_login }}</p>
        </div>
            <div class="home-img">
                <img src="/static/img/rafata.png" alt="Photo of {{ name }}">
            </div>
    </section>
{% endblock content %}